<h1><%= @fork.owner %> / <%= @fork.repo_name %> <%= link_to "<i class='fa fa-github fa-lg'></i>".html_safe, @fork.github_path %></h1>

<p>
  Parent: <%= link_to @fork.parent+'/'+@fork.parent_repo_name, @fork.parent_github_path%>.  
</p>

<% if @fork.active %>
  <p>
    <%= image_tag fork_badge_path(@fork, format: 'png'), :'data-toggle' => "modal", :'data-target' => "#badgeModal" %>
  </p>
  <p>
    <%= @fork.behind_by %> commits behind. <%= link_to "View changes", @fork.comparison_url %>.
  </p>
  
  <% if signed_in? %>
    <p>
      <%= link_to "<i class='fa fa-refresh'></i> Update Status".html_safe, 
                   fork_refresh_path(@fork), method: :post, class: 'btn btn-primary' %>
    </p>
  <% end %>
  
<% end %>


<%= render 'badge_modal'%>